.ListStart{
    justify-content:cente;
    align-items:center;
    display:flex;
    margin:4rem auto;
    width:90%;
    box-shadow: 1px 1px 4px 1px skyblue;
    border-radius:20px;
    flex-direction:column;
}
.ListButton{
    margin:0.5rem;
}

.Tableh1{
    color:skyblue;
    font-size: 1.5rem;;
}